  <br>
  <br>
  <br>
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="input1" class="sr-only">Time</label>
    <input type="text" class="form-control" id="input1" placeholder="Time" [(ngModel)] = "curTime" name="curTime">
  </div>
  <button type="button" class="btn btn-outline-primary" (click)="testFunc()" >Test Func</button>
  <button type="button" class="btn btn-outline-primary" (click)="testDB()" >Test DB</button>
</form>
<hr>
  <div>
   <div style="text-align: center;"><button type="button" class="btn btn-outline-primary" (click)="connect()" [disabled]="activated" [ngStyle]="{cursor: cursorStatus}">Connect</button></div>
  </div>
  <br>
<div class="input-group col-md-6 offset-md-3">
  <div class="input-group-prepend">
    <span class="input-group-text">With textarea</span>
  </div>
  <textarea class="form-control" aria-label="Bizhawk View" [(ngModel)]="visualImage" name="visualImage" readonly></textarea>
</div>
