  <br>
  <br>
  <br>
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="input1" class="sr-only">Time</label>
    <input type="text" class="form-control" id="input1" placeholder="Time" [(ngModel)] = "curTime" name="curTime">
  </div>
  <button type="button" class="btn btn-outline-primary" (click)="getCurTime()" >Get Current Time</button>
</form>
<hr>
  <div>
   <div style="text-align: center;"><button type="button" class="btn btn-outline-primary" (click)="connect()">Connect</button></div>
  </div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Bizhawk View" [(ngModel)]="visualImage" name="visualImage" readonly></textarea>
  </mat-form-field>
</form>
