<div class="container">
  <div class="row">
    <!--<div class="form-group col-md-10">-->
    <div class="col-md-12">
      <button type="button" class="btn btn-light" routerLink="/modellist">Back</button>
    </div>
    <br>
    <!--<div class="form-group col-md-6 offset-md-3">-->
      <!--<label for="exampleFormControlInput1">Model Name</label>-->
      <!--<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="modelName">-->
    <!--</div>-->
    <div class="form-group col-md-6 offset-md-3">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>My Layer</th>
        </tr>
        </thead>

        <tbody *ngIf="!isEditItems">
        <tr *ngFor="let field of fieldArray; let i = index">
          <td *ngIf="field?.val">
            <i class="mdi mdi-chevron-right mdi-18px"></i>Layer {{i + 1}} : {{field.val}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Choose the Loss Function</label>
      <select class="form-control" placeholder="Choose the Loss Function" [(ngModel)]="loss_function"
              (ngModelChange)="onLayerNumsChange($event)">
        <option value="Mean Squared Error">Mean Squared Error</option>
        <option value="Cross Entropy">Cross Entropy</option>
      </select>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Enter the Sequence Length(1 - 999)</label>
      <div layout="row" flex class="form-inline">
        <input type="text" class="form-control col-md-2" [(ngModel)]="sequenceLength">
        <mat-slider
          style="width: 400px"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="1"
          [(ngModel)]="sequenceLength"
          max="999"></mat-slider>
      </div>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Enter the Batch Size(1 - 99)</label>
      <!--<input type="email" class="form-control" id="exampleFormControlInput3" placeholder="" [(ngModel)]="batchSize">-->
      <!--<div class="col-md-6">-->
      <div layout="row" flex class="form-inline">
        <input type="text" class="form-control col-md-2" [(ngModel)]="batchSize">
        <mat-slider
          style="width: 400px"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="1"
          [(ngModel)]="batchSize"
          max="99"></mat-slider>
      </div>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Enter the DropOut Rate (0 - 1)</label>
      <input type="text" class="form-control" id="formDroupOut" placeholder="" [(ngModel)]="dropOutRate">
    </div>
    <div class="form-inline col-md-10 offset-md-2">
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="startTraining()">Start Training</button>
      </div>
      <div class="col-md-2 offset-md-1">
        <button type="button" class="btn btn-primary" (click)="stopTraining()">Save & Stop</button>
      </div>
      <div class="col-md-2 offset-md-1">
        <button type="button" class="btn btn-success" (click)="validateModel()">Play the Game</button>
      </div>
      <div class="col-md-2 offset-md-1">
        <button type="button" class="btn btn-danger" (click)="stopValidating()">Stop Playing</button>
      </div>
      <div class="col-md-2" style="margin-top: 20px">
        <mat-card *ngIf="isTraining">
          <mat-card-content>
            <h4 class="example-h2">{{traingHint}}</h4>
            <mat-progress-spinner
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="value"
            >
            </mat-progress-spinner>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-2 offset-md-4" style="margin-top: 20px">
        <mat-card *ngIf="isValidating">
          <mat-card-content>
            <h4 class="example-h2">{{validatingHint}}</h4>
            <mat-progress-spinner
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="value"
            >
            </mat-progress-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!--<div class="col-md-2 offset-md-3">-->
    <!--<button mat-raised-button (click)="submitForm()">Create</button>-->
    <!--</div>-->
  </div>
</div>
