<br>
<br>
<br>
<div class="container">
<div class="example-button-row">
  <button mat-raised-button routerLink="/learningmode" >Create a New Model</button>
</div>
<table mat-table [dataSource]='myDataArray'>
  <ng-container matColumnDef="modelId">
    <th mat-header-cell *matHeaderCellDef> Model ID</th>
    <td mat-cell *matCellDef="let model"> {{model.id}} </td>
  </ng-container>

  <ng-container matColumnDef="modelName">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let model"> {{model.model_name}} </td>
  </ng-container>

  <ng-container matColumnDef="modelPeriod">
    <th mat-header-cell *matHeaderCellDef> Training Duration</th>
    <td mat-cell *matCellDef="let model"> {{model.model_duration}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class = "example-element-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" style="cursor: pointer"></tr>
</table>
</div>
