<br><br><br>
<div class="container">
  <div class="row">
    <div class="form-group col-md-12">
      <button type="button" class="btn btn-light" routerLink="/learningmode">Back</button>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Enter Model Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="modelName">
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Add Layer(Maximum of 6 Layers) <i class="iconfont icon-icon-circle-question" style="font-size: 16px; margin-left: 10px" placement="right"
        ngbPopover="The higher layer higher meanings higher learning efficiency, meanwhile it is easy to overfitting " popoverTitle="Set Layers For Neural Network"> </i>
            <a (click)="onEditCloseItems()" class="text-info float-right">
              <i class="mdi mdi-{{isEditItems ? 'close' : 'plus'}} mdi-18px"></i>
            </a>
          </th>
        </tr>
        </thead>

        <tbody *ngIf="!isEditItems">
        <tr *ngFor="let field of fieldArray; let i = index">
          <td *ngIf="field?.val">
            <i (click)="deleteFieldValue(i)" class="mdi mdi-close mdi-18px"></i>Layer {{i + 1}} : {{field.val}}
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="isEditItems">
        <tr *ngFor="let field of fieldArray; let i = index">
          <td>
            <div class="input-group">
              <div class="input-group-prepend">
                <div (click)="deleteFieldValue(i)" class="input-group-text"><i class="mdi mdi-close mdi-18px"></i></div>
              </div>
              <input [(ngModel)]="field.val" class="form-control" type="text" name="{{field.val}}"
                     placeholder="Number of Neural Nets(1 - 300)">
            </div>
          </td>
        </tr>
        <tr>
          <td align="right">
            <button *ngIf="fieldArray.length < 6" class="btn btn-success btn-sm" type="button"
                    (click)="addFieldValue()"
                    style="margin-right:10px">Add More Layer
            </button>
            <button (click)="onEditCloseItems()" class="btn btn-primary btn-sm" type="button">Save</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label>Choose the Training Set</label> <i class="iconfont icon-icon-circle-question" style="font-size: 16px; margin-left: 10px" placement="right"
        ngbPopover="The larger the training set selected, the machine learning training period will be longer, but the training effect is better." popoverTitle="Choose the Training Set"> </i>
      <select class="form-control" placeholder="Choose the Training Set" [(ngModel)]="trainging_set"
              (ngModelChange)="onTrainingSetChange($event)">
        <option value="Default">Default</option>
        <option value="Small1">Small 1</option>
        <option value="Small2">Small 2</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
        <option value="Test">Test</option>
      </select>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Choose the Loss Function</label> <i class="iconfont icon-icon-circle-question" style="font-size: 16px; margin-left: 10px" placement="right"
        ngbPopover="Either “mean squared error” or “cross entropy”." popoverTitle="Loss Functions"> </i>
      <select class="form-control" placeh2older="Choose the Loss Function" [(ngModel)]="loss_function"
              (ngModelChange)="onLossFunctionChange($event)">
        <option value="Mean Squared Error">Mean Squared Error</option>
        <option value="Cross Entropy">Cross Entropy</option>
      </select>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Enter the Sequence Length(1 - 300)</label> <i class="iconfont icon-icon-circle-question" style="font-size: 16px; margin-left: 10px" placement="right"
        ngbPopover="Number of time steps to train at once for backpropagation through time." popoverTitle="Sequence Length"> </i>
      <div layout="row" flex class="form-inline">
        <input type="text" class="form-control col-md-2" [(ngModel)]="sequenceLength">
        <mat-slider
          style="width: 400px"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="1"
          [(ngModel)]="sequenceLength"
          max="300"></mat-slider>
      </div>
    </div>

    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Enter the Batch Size(1 - 99)</label> <i class="iconfont icon-icon-circle-question" style="font-size: 16px; margin-left: 10px" placement="right"
        ngbPopover="Number of sequences to process per batch." popoverTitle="Batch Size"> </i>
      <!--<input type="email" class="form-control" id="exampleFormControlInput3" placeholder="" [(ngModel)]="batchSize">-->
      <!--<div class="col-md-6">-->
      <div layout="row" flex class="form-inline">
        <input type="text" class="form-control col-md-2" [(ngModel)]="batchSize">
        <mat-slider
          style="width: 400px"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="1"
          [(ngModel)]="batchSize"
          max="99"></mat-slider>
      </div>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="exampleFormControlInput1">Enter the DropOut Rate (0 - 1)</label> <i class="iconfont icon-icon-circle-question" style="font-size: 16px; margin-left: 10px" placement="right"
        ngbPopover="Recommended value is 0.3 - 0.5, which is valid solution to solve overfitting problems" popoverTitle="Choose the Drop Out Rate"> </i>
      <input type="text" class="form-control" id="formDroupOut" placeholder="" [(ngModel)]="dropOutRate">
    </div>

  </div>
  <div class="col-md-2 offset-md-3">
    <button mat-raised-button (click)="submitForm()" [disabled] = "fieldArray.length == 0">Create</button>
  </div>
</div>


