<br><br><br>
<div class="example-container">

  <mat-form-field hintLabel="Max 10 characters">
    <input matInput #input maxlength="10" placeholder="Enter Model Name">
  </mat-form-field>


  <mat-form-field>
    <mat-select placeholder="Select the Number of Layer">
      <mat-option value="option1">1</mat-option>
      <mat-option value="option2">2</mat-option>
      <mat-option value="option3">3</mat-option>
      <mat-option value="option4">4</mat-option>
      <mat-option value="option5">5</mat-option>
    </mat-select>
  </mat-form-field>


</div>
<br>
<div class="col-md-2 offset-md-4">
  <button mat-raised-button>Save</button>
</div>
